/*Is this a comment?*/
h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: x-large;
}

h3 {
    text-align: center;
    font-size: large;
}

h4 {
    text-align: center;
    font-size: medium;
}

p {
    text-align: justify;
    font-size: medium;
}

img {
    width: 60%;
    margin: auto;
    padding: 4px 6px;
    border: 12px double;
    border-color:rgb(96, 96, 96);
    display: block;
}

.bblock {
    width:80%;
    height:auto;
    margin:auto;
    border: 15px solid #333;
    /*box-shadow: 8px 8px 5px #444;*/
    padding: 12px 18px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.bblock p {
    font-size: medium;
    margin: auto;
    width: 85%;
    padding: 5px 5px 5px 5px;
}

.block {
    width:80%;
    height:auto;
    margin:auto;
    border: 15px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 12px 18px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.block h2 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: x-large;
    width: 90%;
    height: auto;
    margin: auto;
    border:12px solid rgb(96, 96, 96);
    background-image: linear-gradient(180deg, #ec4d4dfd, #ba181b);
    /*background-image: rgb(192, 65, 90);*/
}

.block p {
    font-size: medium;
    text-align: justify;
    margin: auto;
    width: 85%;
    padding: 10px 10px 10px 10px;
}